//variables
$bgcolour: #e1ffbe;
$primary: #c3dda5;
$primary-hover: darken($primary, 10%);
$secondary: #aec693;
$secondary-hover: darken($secondary, 10%);
$container-bgcolour: #ffffff ;
$textcolour: #000000;
$subtextcolour: #5c5c5c;
$headercolour: #749275;


//global styles
body {
    background-color: $bgcolour !important;
    color: $textcolour;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Medium, sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    margin: auto;
}

header{
    width: 100%;
    background-color: $headercolour;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;

    h1{
        margin: 0;
        font-size: 2.5rem;
        color: $textcolour;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}


#calendar {
    height: 100%;
    width: 100%;
    color: #99b47a;
}


.dashboard-container{
    background-color: $container-bgcolour;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    padding: 1%;
    width: 90%;
    height: 90%;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    
    .container{
        width: 400px;
        height: 300px;
        align-items: center;
    }

    .dashboard{
        width: 400px;
        height: 300px;
        margin: auto;
        background-color: $container-bgcolour;
        box-shadow: rgba(0, 0, 0, 0.25);
    }

    .dashboard-content{
        width: 400px;
        height: 300px;
        margin: auto;
    }

}

.container {
    background-color: $container-bgcolour;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253);
    padding: 1%;
    width: 90%;
    height: 100%;
    display: flex;
    margin: 1% auto;
    align-items: center;


    h1 {
        font-size: 2.5rem;
        color: $textcolour;
        margin-bottom: 1.5rem; 
    }
    p {
        font-size: 18px;
        color: $subtextcolour;
        margin-bottom: 20px;
    }
    .input-field {
        width: 90%;
        padding: 7px;
        margin: 10px 0;
        border: 1px solid #84946c;;
        border-radius: 8px;
        font-size: 1.5rem;
        box-sizing: border-box;

        &:focus {
            border-color: blue;
            outline: none;
        }
    }

    .btn {
        width: 90%;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid #84946c;
        border-radius: 8px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: center;

        &.btn-login {
            background-color: $primary;
            color: white;

            &:hover {
                background-color: $primary-hover;
            }
        }

        &.btn-logout {
            background-color: $primary;
            color: white;

            &:hover {
                background-color: $primary-hover;
            }
        }

        &.btn-calendar {
            background-color: $primary;
            color: white;

            &:hover {
                background-color: $primary-hover;
            }
        
        }
    }
}